@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items:center;
    }

    .two-columns {
        flex-direction: column;
    }

    .profile-pic img {
        width: 80%;
        box-shadow: none;
    }

    .navigation {     
        flex-direction: column;
        list-style: none;
    }
    
    .navigation a {
        display: none;
        padding: 1rem;
        text-align: center;
        font-size: 1em;
    }

    .navigation a:hover {
        color: var(--accent2-color);
        transition: color 0.3s ease;
    }
    
    .open a {
        display: block;
    }
    
    .active {
        background-color: var(--primary-color);
    }
    
    
    #menu {
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        top: 0.25rem;
        right: 0.5rem;
    }
    
    #menu::before {
        color: #fff;
        content: "☰";
        border-radius: 2px;
        padding: 5px;
    }
    
    #menu.open::before {
        content: "X";
        border: none;
        padding: 0;
    }
    

    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 1em;
    }

    .two-columns .column {
        box-shadow: none;
    }
    

    .buttons button {
        padding: 0.5rem 2rem;
        border: none;
        cursor: pointer;
        border-radius: 10px;
    }

    .certificate-column {
        box-shadow: none; 
        margin: 1rem;
    }

    #courseCards {
        display: flex;
        flex-direction: column;
    }

    .course-btn {
        font-weight: 400;
        border: 1px solid var(--border-button);
        cursor: pointer;
        border-radius: 10px;
        margin: 0.5rem 0.5rem;
        text-align: center;
    }

}